<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron">
           <h1>404</h1>
            <blockquote class="blockquote-reverse">
                <p>The way forward is sometimes the way back.</p>
                <footer>The Wiseman in <cite title="The Labyrinth">The Labyrinth</cite></footer>
            </blockquote>
        </div>
    </div>
</div>
