<!DOCTYPE html>
<html>
    <head>
        {{title}}
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="col-md-8 col-md-offset-2">
                {{>body}}
            </div>
        </div>
    </body>
</html>
