<body data-spy="scroll" data-target=".navbar" data-offset="60">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
			<a class="navbar-brand" href="#">Causal</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#about">ABOUT US</a></li>
				<li><a href="#project">OPEN PROJECTS</a></li>
				<li><a href="#contact">CONTACT</a></li>
			</ul>
		</div>
	</div>
</nav>  

<!-- Banner -->
<div class="jumbotron text-center">
	<h1> Causal </h1>
	<p> We believe that... </p>
	
</div>

<!-- About -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8">
			<h2> About us </h2>
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
			incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
			exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
		</div>
		<div class="col-sm-4">
			<span> <img src="jayhawk.jpeg"> </span>
		</div>	
	</div>
</div>

<!-- Open project -->
<div class="container-fluid">
	<h3> Open projects from the Orgnizations </h3>
	<table class ="table table-hover">
		<thead>
			<tr>
			<th>ID #</th>
			<th>Project Ideas</th>
			<th>Descriptions</th>
			<th>Numbers of bids </th>
			</tr>
		</thead>
		
		<tbody>
			<tr>
			<td>123532</td>
			<td>EXPO</td>
			<td>Technical I don't know what to write so I just write what to write </td>
			<td> 4 </td>
			</tr>
			<tr>
			<td>124dh3</td>
			<td>Popeye</td>
			<td>Technical I don't know what to write so I just write what to write </td>
			<td> 12 </td>
			</tr>
			<tr>
			<td>373gh27</td>
			<td>Jimmy John</td>
			<td>Technical I don't know what to write so I just write what to write </td>
			<td> 11 </td>
			</tr>
		</tbody>
		
	</table>
</div>	
