<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h1>Join Causal</h1>
        <p class="lead">Software for good causes.</p>
        <form method="post">
            <h3>Create your own profile</h3>
            {{^username}}
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
            {{/username}}
            {{#username}}
                <div class="form-group has-error">
                    <label>Username</label>
                    <p class="text-danger">The given username has already been registered</p>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
            {{/username}}
            {{^email}}
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
            {{/email}}
            {{#email}}
                <div class="form-group has-error">
                    <label>Email</label>
                    <p class="text-danger">The given email has already been registered</p>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
            {{/email}}
            {{^password}}
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
            <div class="form-group">
                <label>Confirm</label>
                <input type="password" class="form-control" id="confirm" name="confirm">
            </div>
            {{/password}}
            {{#password}}
                <div class="form-group has-error">
                    <label>Password</label>
                    <p class="text-danger">The passwords didn't match</p>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
            <div class="form-group has-error">
                <label>Confirm</label>
                <input type="password" class="form-control" id="confirm" name="confirm">
            </div>
            {{/password}}
            <button type="submit" class="btn btn-success">Create an account</button>
        </form>
    </div>
</div>
